@import "../../responsive.scss";
.chat {
  height: 100%;
  display: flex;
  flex-direction: column;

  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    
    h1 {
      font-weight: 300;
    }
    
    .message {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        
      }
      .contents{
        display: flex;
        flex-direction: column;
        overflow: hidden;
          span{
            font-weight: bolder;
          }
          p{
            all: unset;
          }

      }      
    }
  }

  .chatBox {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .top {
      background-color: #f7c14b85;
      padding: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .userbar {
        display: flex;
        align-items: center;
        gap: 20px;
        
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        span{
          
        word-wrap: break-word; /* Ensures long words wrap to the next line */
        word-break: break-word; /* Breaks long words if needed */
        padding-right: 5px;
        }
      }
      .close {
        cursor: pointer;
      }
    }
    .center {
      height: 350px;
      overflow: auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      .chatMessage {
        max-width: 80%;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
        margin: 5px 0;
        word-wrap: break-word; /* Ensures long words wrap to the next line */
        word-break: break-word; /* Breaks long words if needed */
        
        &.own {
          display: flex;
          align-self: flex-end;
          text-align: left;
          background-color: rgb(137, 255, 137);
          flex-direction: column;
        }
      
        &.other {
          display: flex;
          align-self: flex-start;
          text-align: left;
          background-color: rgb(187, 232, 247);
          flex-direction: column;
        }
        p{
          all: unset;
          // line-height: 0.1em;
        }
      
        span {
          font-size: 12px;
          padding: 2px;
          border-radius: 5px;
          margin-top: 5px;
          text-align: right;
        }
      }
      
      
    }
    .bottom {
      border-top: 2px solid #f7c14b85;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      textarea{
        flex:3;
        height: 100%;
        border: none;
        padding: 20px;
      }

      button{
        flex:1;
        background-color: #f7c14b85;
        height: 100%;
        border: none;
        cursor: pointer;
        &:disabled {
            
          // background-color: #bed9d8;
          cursor: not-allowed;
        }
      }
    }
  }
}
