@use "../../responsive" as *;


.slider {
  width: 100%;
  height: 350px;
  display: flex;
  gap: 20px;
  // border: 1px black solid;

  @include sm {
    height: 280px;
  }

  .fullSlider {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

    .arrow {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50px;

        @include md {
          width: 30px;
        }

        @include sm {
          width: 20px;
        }

        &.right {
          transform: rotate(180deg);
        }
      }
    }

    .imgContainer {
      flex: 10;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      font-size: 36px;
      font-weight: bold;
      padding: 50px;
      cursor: pointer;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    // border: 1px solid black;


  }

  .singleImage {
    flex: 3;
    @include sm {
      flex: 2;
    }
  }

  .bigImage {
    flex: 3;
    img{
      &:hover {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.296);
        transform: scale(1.003);  
        transition: box-shadow 0.3s ease, transform 0.3s ease;
      }
    }
    @include sm {
      flex: 2;
    }
  }

  .smallImages {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    .twoImage{
      img {
        height: 100px;
        margin-bottom: 3vh;
        @include sm {
          height: 80px;
        }
  
        &:hover {
          opacity: 0.8; // Optional: Hover effect for small images
        }
      }

    }

    @include sm {
      flex: 1;
    }

    img {
      height: 100px;

      @include sm {
        height: 80px;
      }

      &:hover {
        opacity: 0.8; // Optional: Hover effect for small images
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.296);
        transform: scale(1.003);  
        transition: box-shadow 0.3s ease, transform 0.3s ease;
      }
    }

    .remaining-count {
      position: relative;
      width: 100%;
      height: 100px; // Match height of small images
      cursor: pointer; // Change cursor on hover

      .blurred-image {
        width: 100%;
        height: 100%;
        filter: blur(4px); // Adjust blur level as needed
        overflow: hidden; // Ensures no overflow

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px; // Match border radius of images
        }
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); // Center the text
        color: white; // Text color
        font-size: 24px; // Font size for the count
        font-weight: bold; // Bold text
        z-index: 1; // Ensure text is above the blurred image
      }
    }
  }
}
